<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Post Blog</title>
    <!-- Bootstrap -->
    <link href="./bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="./stylesheets/view_bs.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My Little Bloggie</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">All Post</a></li>
                    <li><a href="/new">Create Blog</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Show the response form the DB -->

    <% blogData.forEach(function(value,key){ %>
        <div data-blog = 'detail'>
            <h1> <%= value.title %> </h1>
            <p class="navbar-text"> <%= value.content %> </p>
            <br>

        </div>
    <% }) %>
</div> <!-- /container -->
</body>
</html>

